.product-photo {
  text-align: center;
  margin:10px;
  padding:20px;
}


.answer-box, .question-box, .button-container {
  text-align: right;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}
